.home-hero {
    position: relative;
    background-image: url('../../../assets/images/Stetoskop.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8rem 0;

    .home-hero__content {
        position: relative;
        z-index: 1;

        .home-hero__title {
            display: grid;
            gap: 4rem;
            color: var(--white);
            font-family: var(--manrope);
            font-size: 3rem;
            font-weight: 700;
            letter-spacing: 2px;
            text-shadow: 0 3px 8px var(--bg-dark);
        }
    }
}

.home-hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(
        300deg,
        rgba(59, 70, 191, 0.6) 0%,
        rgb(4, 2, 84) 50%
    );
    opacity: 0.8;
}

/* MEDIA QUERIES */
/* 800px */
@media (max-width: 800px) {
    .home-hero {
        padding: 4rem 0;
        .home-hero__content {
            .home-hero__title {
                font-size: 2rem;
            }
        }
    }
}

/* 640px */
@media (max-width: 640px) {
    .home-hero {
        .home-hero__content {
            .home-hero__title {
                font-size: 1.75rem;
                font-weight: 500;
                gap: 1.5rem;
                text-align: center;
            }
        }
    }
}
