.auth-page {
    height: 100vh;
    display: grid;
    place-content: center;

    .auth-page__container {
        width: 600px;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: var(--blue-shade);
        display: flex;
        flex-direction: column;
        gap: 3rem;

        .auth-page__logotype {
            width: 260px;
        }

        .auth-form {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            min-width: 300px;
            position: relative;

            .error-msg {
                color: var(--red);
                font-weight: 500;
                position: absolute;
                top: -2rem;
            }

            .form-input {
                width: 100%;
            }
        }

        .auth-toggle {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            position: relative;
            .auth-toggle__text {
                color: var(--text-dark);
                align-self: center;
                padding: 0 1rem;
                background-color: var(--white);
                z-index: 1;
            }

            .auth-toggle__btn {
                width: 100%;
                background-color: transparent;
                color: var(--primary-blue);
                outline: 2px solid var(--primary-blue);
            }

            .auth-toggle__btn:hover {
                background-color: var(--primary-blue);
                color: var(--white);
            }
        }

        .auth-toggle::before {
            content: '';
            position: absolute;
            width: 80%;
            border-bottom: 2px solid var(--gray);
            top: 14px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 0;
        }
    }
}

/* MEDIA QUERIES */
/* 600px */
@media (max-width: 600px) {
    .auth-page {
        .auth-page__container {
            width: 100vw;
            box-shadow: none;
            padding: 0 1rem;

            .auth-form {
                width: 100%;
            }
        }
    }
}
