.form__header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: var(--white);
    z-index: 1;
    border-bottom: 1px solid whitesmoke;
    padding: 0 1rem;

    .save-btn {
        align-self: center;
        font-size: 0.75rem;
        padding: 0.5rem;
        height: 35px;
        width: 80px;
    }

    .save-btn--saved {
        background-color: var(--green);
    }

    .save-btn--saved:hover {
        background-color: var(--green);
    }
}
