.admin-layout {
    height: 100vh;
    display: grid;
    grid-template-columns: 240px 1fr;

    .admin-main {
        /* padding: 1rem; */
        background-color: var(--white);
        min-height: 0;
        overflow-y: auto;
    }
}
