.contact-form {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    border-radius: 10px;
    box-shadow: var(--blue-shade);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    position: relative;

    .contact-form__title {
        color: var(--primary-blue);
        font-family: var(--manrope);
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1.25rem;
        text-align: center;
    }

    .contact-form__content {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        width: 100%;

        .form-status {
            height: 25px;

            .form-message {
                text-align: center;
                text-transform: uppercase;
                font-weight: 500;
                display: flex;
                gap: 0.25rem;
                justify-content: center;
                align-items: center;
            }

            .form-message--error {
                color: var(--red);
            }

            .form-message--success {
                color: var(--green);
            }
        }

        .contact-form__btn {
            width: 264px;
            height: 56px;
            font-size: 1.25rem;
            margin-left: auto;
        }
    }
}

/* MEDIA QUERIES */
/* 600px */
@media (max-width: 600px) {
    .contact-form {
        .contact-form__content {
            .contact-form__btn {
                width: 100%;
            }
        }
    }
}
