.about-hero {
    position: relative;
    background: linear-gradient(
        to bottom,
        rgba(254, 254, 254, 0.5) 0%,
        rgba(62, 156, 233, 0.2) 100%
    );
    color: var(--text-dark);
    padding-block: 5rem 0;
    border-bottom: 1px solid rgba(15, 52, 204, 0.1);
    overflow: hidden;

    .about-hero__content {
        position: relative;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* flex-direction: column; */
        gap: 1.25rem;
        position: relative;

        .section-heading {
            grid-column: auto / span 4;
        }

        .about {
            grid-column: auto / span 2;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            font-family: var(--inter);
            padding-bottom: 5rem;

            .about__title {
                font-size: 2.5rem;
                font-weight: 450;
                line-height: 3rem;

                .highlighted {
                    display: block;
                    color: var(--primary-blue);
                    font-weight: 500;
                }
            }

            .about__intro {
                font-size: 1.25rem;
                font-weight: 500;
                line-height: 30px;
                letter-spacing: 1px;

                .link-arrow {
                    opacity: 0;
                    transition: opacity 0.3s ease;
                }

                .about__link {
                    transition: all 0.3s ease;
                    padding-left: 0.5rem;
                    color: var(--primary-blue);
                }

                .about__link:hover {
                    font-weight: 450;

                    .link-arrow {
                        opacity: 1;
                    }
                }
            }

            .line {
                width: 5rem;
                border-bottom: 1px solid var(--light-blue);
            }

            .about__desc {
                font-size: 1.25rem;
                font-weight: 450;
                line-height: 30px;
                letter-spacing: 1px;
            }

            .btn {
                align-self: flex-start;
                font-size: 1.25rem;
                padding: 1rem 2rem;
            }
        }
    }

    .about-section__img {
        position: absolute;
        bottom: 0;
        right: -4rem;
        z-index: 0;
    }
}

/* MEDIA QUERIES */
/* 800px */
@media (max-width: 800px) {
    .about-hero {
        .about-hero__content {
            .about {
                grid-column: auto / span 3;
                gap: 1.25rem;
            }
            .about-section__img {
                width: 350px;
            }
        }
    }
}
/* 600px */
@media (max-width: 600px) {
    .about-hero {
        padding-block: 2.5rem 0;
        .about-hero__content {
            .about {
                padding-bottom: 3rem;
                grid-column: auto / span 4;

                .about__title {
                    margin-bottom: 0.75rem;
                }

                .about__intro {
                    font-size: 1rem;
                }

                .about__desc {
                    font-size: 1rem;
                    max-width: 80%;
                }

                .btn {
                    font-size: 1rem;
                    padding: 0.75rem 1rem;
                    /* margin-top: 0.75rem; */
                    /* width: 60%; */
                }
            }

            .about-section__img {
                width: 190px;
                right: -2rem;
            }
        }
    }
}
