.faqs {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .faqs__item {
        border-radius: 10px;
        box-shadow: var(--blue-shade);
        font-family: var(--inter);

        .faqs__btn {
            width: 100%;
            justify-content: space-between;
            background-color: transparent;
            padding: 1.5rem 2rem;

            .faqs__question {
                color: var(--primary-blue);
                font-size: 1.25rem;
                font-weight: 600;
            }
        }

        .faqs__content {
            display: grid;
            grid-template-rows: 0fr;
            transition: grid-template-rows 0.3s ease;
            padding: 0 2rem;
        }

        .faqs__content-inner {
            overflow: hidden;
            /* padding: 2rem 0; */

            .faqs__answer {
                color: var(--dark-blue);
                margin: 2rem 0;
            }
        }
    }

    .faqs__item--open {
        /* box-shadow: var(--primary-blue-shade); */
        outline: 2px solid var(--light-blue);
    }

    .faqs__item--open .faqs__content {
        grid-template-rows: 1fr;
    }

    .faqs__chevron {
        transition: transform 0.3s ease;
    }

    .faqs__item--open .faqs__chevron {
        transform: rotate(180deg);
    }

    .faqs__item:hover {
        cursor: pointer;
        /* box-shadow: var(--primary-blue-shade); */
        outline: 2px solid var(--light-blue);
    }
}

.faq {
    .faq__item {
        background-color: var(--white);
        box-shadow: var(--blue-shade);
        padding: 0.5rem 0;
        font-family: var(--inter);

        .faq__control {
            .faq__content {
                /* font-size: 1.25rem; */
                font-weight: 600;
                color: var(--primary-blue);
            }
        }

        .faq__panel {
            color: var(--text-dark);
        }
    }

    .faq__item[data-active] {
        box-shadow: inset 0 0 0.5rem 0 var(--light-blue);
    }

    .faq__chevron {
        color: var(--light-blue);
    }
}

/* MEDIA QUERIES */
/* 600px */
@media (max-width: 600px) {
    .faqs {
        .faqs__item {
            .faqs__btn {
                padding: 1.25rem 1rem;
                gap: 0;
                align-items: center;

                .faqs__question {
                    font-size: 1rem;
                    text-align: start;
                }

                .faqs__chevron {
                    display: flex;
                    align-items: center;
                }
            }

            .faqs__content {
                padding: 0 1rem;
            }
        }
    }
}
