.lang-selector {
    display: flex;

    .lang-btn {
        text-transform: uppercase;
        padding: 1rem 1rem 0.25rem 1rem;
        background-color: transparent;
        border-radius: 0;
        color: var(--text-dark);
        font-size: 0.75rem;
    }

    .lang-btn.active {
        border-bottom: 2px solid var(--primary-blue);
        color: var(--primary-blue);
        font-weight: 500;
    }
}
