.form-label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: var(--inter);

    .form-label-text {
        color: var(--text-dark);
        font-weight: 500;
        display: flex;
        gap: 0.25rem;

        .star {
            color: var(--light-blue);
            font-weight: 700;
        }
    }
}

.form-input {
    color: var(--dark-blue);
    border-radius: 0.25rem;
    border: 1px solid var(--gray);
    padding: 0.75rem 1rem;
    background: white;
    font-family: inherit;
    font-size: 1rem;
    transition:
        border-color 0.2s ease,
        box-shadow 0.2s ease;
}

.form-input:hover {
    border-color: #b8b8b8;
}

.form-input:focus {
    outline: none;
    box-shadow: 0 0 4px 1px var(--light-blue);
}
