.sidebar {
    position: sticky;
    background-color: var(--bg-dark);
    color: var(--white);
    height: 100vh;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    gap: 3rem;
    font-family: var(--manrope);

    .sidebar__header {
        .sidebar__img {
            width: 200px;
        }

        .sidebar__title {
            font-weight: 400;
            font-family: var(--ibm);
            text-align: end;
        }
    }

    .nav {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        .nav__link {
            color: var(--white);
            opacity: 0.6;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 0.5rem;
        }

        .nav__link:hover {
            opacity: 1;
        }

        .nav__link--active {
            opacity: 1;
            background-color: var(--primary-blue);
            border-radius: 0.25rem;
        }

        .nav__content {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;

            .nav__title {
                opacity: 0.8;
                font-weight: 500;
                font-size: 1rem;
                margin-bottom: 0.5rem;
            }
        }
    }

    .sidebar__footer {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: flex-start;
        border-top: 1px solid rgba(255, 255, 255, 0.315);
        padding-top: 1rem;

        .sidebar__btn {
            background-color: transparent;
            padding: 0.5rem 0;
            opacity: 0.8;
        }

        .sidebar__btn:hover {
            opacity: 1;
        }
    }
}

/* MEDIA QUERIES */
/* 800px */
@media (max-width: 800px) {
    .sidebar {
        .sidebar__header {
            .sidebar__img {
                width: 140px;
            }
        }
    }
}
/* 600px */
@media (max-width: 600px) {
    .sidebar {
        max-height: 100vh;
        padding-bottom: 3rem;
        .sidebar__header {
            .sidebar__img {
                width: 140px;
            }

            .sidebar__title {
                text-align: start;
            }
        }
    }
}
