.header {
    background-color: white;
    padding: 1.5rem 0;
    border-bottom: 1px solid #0f35cc22;
    z-index: 999;

    .header__content {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}
