@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

:root {
    /* Colors */
    --dark-blue: #002f94;
    --primary-blue: #0f34cc;
    --light-blue: #3e9ce9;
    --lighter-blue: #e0edf8;
    --red: #e03062;
    --green: #36b556;
    --light-green: #c2efcd;
    --purple: #6155f5;
    --yellow: #ffcc00;
    --white: #fefefe;
    --gray: #e0e0e0;
    --bg-dark: #060a1b;
    --text-dark: #36393d;
    --text-darker: #282a2d;
    /* Fonts */
    --manrope: 'Manrope', sans-serif;
    --inter: 'Inter', sans-serif;
    --ibm: 'IBM Plex Serif', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--inter);
    color: var(--text-darker);
}

a {
    text-decoration: none;
}

/* UTILITY CLASSES */
.d-none {
    display: none;
}

.v-hidden {
    visibility: hidden;
}
