.edit-page-page {
    .page-header {
        padding: 1rem 1rem 0 1rem;
        border-bottom: 1px solid var(--gray);
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .page-title {
            color: var(--text-dark);
            font-family: var(--manrope);
        }

        .nav {
            display: flex;
            .nav__link {
                padding: 1rem;
                color: var(--text-dark);
                display: flex;
                gap: 0.25rem;
                align-items: center;
            }

            .nav__link.active {
                color: var(--primary-blue);
                font-weight: 500;
                border-bottom: 2px solid var(--primary-blue);
            }
        }
    }
}
